h1,
p {
  font-family: Lato;
}

.pagination {
  text-align: center;
}

.btn {
  padding: 10px;
}

.btn > button {
  margin: 5px;
}

.user-container {
  border: 1px solid white;
  margin: 10px;
  background-color: #5a20cb;
  color: white;
}
